body {
    background: rgb(82, 9, 121);
    background: linear-gradient(0deg, rgba(82, 9, 121, 1) 0%, rgba(64, 2, 105, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* palabras que tendran un texto el cual estara animado */

.palabras{
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: aliceblue;
    overflow: hidden;  
    position: relative;
    font-size: 150%;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* parte superior de la pagina en donde se encuentran el icono, 
el buscador, el perfin y el carrito de compras */

.fondo2{
        background: rgb(82,9,121);
        background: linear-gradient(180deg, rgba(82,9,121,1) 0%, rgba(64,2,105,1) 42%, rgba(22,2,48,1) 100%);
    width: 100%;
    height: 250px;
}
.icono{
    width: 60px;
}
.icono img{
    width: 50px;
    margin-top: 10px;
}
.buscador{
    width: 50vw;
}
.buscador input{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    height: 40px;
    border-radius: 20px;
    border: 5px solid #643579;
    padding: 0 20px;
}
.perfil{
    flex: 1;
}
.perfil img{
    padding-top: 4px;
    width:40px;
    margin-top: 10px;
    overflow: hidden;
    flex-flow: row-reverse;
    position: relative;
    align-items: center;
    
}
.textocarro{
    color: white;
    outline: none;
    text-decoration: none;
    position: relative;
    top: 7%;
    padding-left: 13%;
}
.textoPerfin{
    padding-right: 6px;
    color: white;
    outline: none;
    text-decoration: none;
    position: relative;
    top: 7%;
}
.Productos{
    width: 369px;
    height: max-content;
    background-color: #643579;
    margin: 0% 0.5%;
    margin-bottom: 4%;
    border-radius: 2%;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    
    
    
}
.seccion_productos{
    width: 100%;
}

.Productos img {
    position: relative;
    align-items: center;
    margin-top: 5%;
    border-radius: 2%;
}

.card-body {
    margin: 0;
}

.card-body h6 {
    padding-bottom: 5px;
}

.card-body a {
    outline: none;
    text-decoration: none;
    color: whitesmoke;
}
.btn{
    width: 260px;
    background-color: #3D1860;
    border-color: aliceblue;
    margin: 2px;
    margin-top: 40px;
    margin-left: 15px;
    
}
.btn-primary:hover{
    background-color:#F5EDF7
    
}
.img-fluid{
    width: 358px;
    height: 270px;
    
}

/* Botones que se encuentran que se encuentran bajo el texto de bienvenida */


/*ajustes de pantalla para cuando esta sea mas pequeña para el tema de el perfi, buscador, carro de compra y icono*/

@media (max-width: 1172px){
    .perfil{
        flex: 1;
    }
    .perfil img{
        width:40px;
        margin-top: 10px;
        overflow: hidden;
        flex-flow: row-reverse;
        position: relative;
        align-items: center;
        
    }
    .textocarro{
        color: black;
        outline: none;
        text-decoration: none;
        position: relative;
        top: 7%;
        padding-left: 5%;
    }
    .textoPerfin{
        color: black;
        outline: none;
        text-decoration: none;
        position: relative;
        top: 7%;
    }

}

@media (max-width: 1161px){
    .perfil{
        flex: 0;
    }
    .perfil img{
        width:40px;
        margin-top: 10px;
        overflow: hidden;
        flex-flow: row-reverse;
        position: relative;
        align-items: center;
        
    }
    .textocarro{
       display: none;
    }
    .textoPerfin{
        display: none;
    }
    .buscador{
        width: 50vw;
        flex: 1;
    }
    .buscador input{
        margin-top: 20px;
        width: 100%;
        height: 100%;
        height: 50px;
        border-radius: 20px;
        border: 5px solid #643579;
        padding: 0 20px;
    }
    .icono img{
        width: 50px;
        margin-top: 20px;
    }
    .espacio{
        display: none;
    }
}

  @media (max-width: 600px) {
    .perfil img{
        width:40px;
        margin-top: 10px;
        overflow: hidden;
        flex-flow: row-reverse;
        position: relative;
        align-items: center;
    }
    .textocarro{
        display: none;
    }
    .textoPerfin{
        display: none;
    }
    .buscador input{
        margin-top: 20px;
        width: 100%;
        height: 100%;
        height: 50px;
        border-radius: 20px;
        border: 5px solid #643579;
        padding: 0 20px;
    }
    .icono img{
        width: 50px;
        margin-top: 20px;
    }
    .espacio{
        display: none;
    }
  }


  /* Parte de los botones para ajustarlo a las pantallas mas pequeñas */
  @media (max-width:580px){
    .filtro{
        position: relative;
        
    }
  }
  @media (max-width: 1015px){

    .texto-boton{
        display: none;
    }

  }


  @media (max-width: 748px){
    .botones-value {
        position: relative;
        border: 2px solid #643579;
        font-size: 100%;
        padding: 5% 40%;
        border-radius: 3em;
        background-color: #F5EDF7;
        color: #3D1860;
        cursor: pointer;
    }

    .fondo2{
        background-color: #3D1860;
        width: 100%;
        height: 320px;
    }
    
}

@media (max-width: 519px){
    .botones-value {
        position: relative;
        border: 2px solid #643579;
        font-size: 100%;
        padding: 5% 40%;
        border-radius: 3em;
        background-color: #F5EDF7;
        color: #3D1860;
        cursor: pointer;
    }
}

@media (max-width: 448px){
    .botones-value {
        position: relative;
        border: 2px solid #643579;
        font-size: 100%;
        padding: 5% 10%;
        border-radius: 3em;
        background-color: #F5EDF7;
        color: #3D1860;
        cursor: pointer;
    }
}

@media (max-width: 402px){
    .botones-value {
        position: relative;
        border: 2px solid #643579;
        font-size: 100%;
        padding: 5% 30%;
        border-radius: 3em;
        background-color: #F5EDF7;
        color: #3D1860;
        cursor: pointer;
    }
    .opciones{
        margin-bottom: 10%;
    }
}
/* revisar arreglar para telefonos ultra pequeños*/