body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img_perfil_ususario/rm251-mind-01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
* {
    color: whitesmoke;
}
.bloque_olvide{
    margin-top: 50px;
    position: relative;
    background-color: #3D1860;
    border-radius: 20px;
    height: 420px;
    width: 300px;
    text-align: center;
    border: 3px solid #643579;
    margin: auto;
}
.boton_enviado{
    background-color: #643579;
    
}
#correo{
    color:#643579
}
.texto_clave{
    margin-top: 15%;
}