body {
    height: 100vh;
    width: auto;
    background: rgb(82,9,121);
    background: linear-gradient(0deg, rgba(82,9,121,1) 0%, rgba(64,2,105,1) 42%, rgba(22,2,48,1) 100%);
  }

.color-letras{
    color: white;
}

tr{
  background-color: black;
  border-color: black;
  width: 90%;
  margin-left: 5%;
  height: 3px ;
}

